*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px; 
    width: 100%;
    height: 60px;
    background:rgb(251, 249, 245);
    position: fixed;
}
.logo{
    display: flex;   
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: goldenrod;    
    gap: 10px;
    cursor: pointer;
}
.logo h2{
    font-family: cursive;
}
.logo b,
span{
    font-size: 15px;
    color: black;
}


.text_nav ul{
    display: flex;
    gap: 30px;
    font-size: 22px;
    list-style: none;
    color: rgb(107, 98, 98);
    cursor: pointer;
}
.li_collection:hover{
    color: goldenrod;
}

.navsearch,
input,
button {

    height: 40px;
    background: rgb(229, 221, 221);
    border: none;
    outline: none; 
    font-size: 20px; 
    border-radius: 5px;   
    padding:0 10px;
}
.nav_search,
select{
    height: 40px;
    width: 200px;
    margin-left: 20px;
    font-size: 20px;
    background: rgb(77, 63, 63);
    color: white;
    border-radius: 8px;
}

.img_text{
    display: flex;


}
.imgg{
    width: 60%;
    height: 750px;
}
.imgg img{
    width: 100%
}
.text{
    width: 40%;
    height: 675px;
    background: rgb(77,63,63);
}
.text h2{
    margin-top: 40%;
    margin-left: 30px;
    font-size: 40px;
    color: white;
}
.text button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 120px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
    background: goldenrod;
    color: white;
}
.gaz__pilita{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    cursor: pointer;    
    
}
.toplamlar{
    width: 350px;
    height: 400px;
    background: rgb(225, 229, 229);
    border-radius: 10px;
}
.toplamlar img{
    width: 350px;
    height: 320px;
    border-radius:10px 10px 0 0 ;
}
.toplamlar button{
    width: 350px;
    margin-bottom: 20px;
    height: 77px;
    border: none;
    background: grey;
    transition: 1s;
    border-radius: 0 0 10px 10px;
    font-size: 22px;
    color: white;
}
.toplamlar button:hover{
    background: goldenrod;
}

.over_45{
    display:flex;
    padding:50px 0;
}
.text_over{
    width: 50%;
    height: 900px;
    background: whitesmoke;
}
.text_over img{
    width: 100%;
    height: 900px;
}
.text_over h3{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
    color: darkgray;
}
.text_over p{
    width: 80%;
    color:cadetblue;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 19px;
    font-weight: 200;
    padding: 10px;
}
.text_over button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 50px;
    margin-top: 50px;
    padding: 30px 20px 30px 20px; 
    background: goldenrod; 
    color: white;
    transition: .5s;
}

.text_over button:hover{
    box-shadow: 0 0 100px goldenrod;  
}
.footer{
    width: 100%;
    height: 500px;
    background: rgb(77,63,63) ;
    display: flex;
    gap: 200px;
    color: white;

}
.text__collection{
    margin-top: 50px;
    line-height: 2;
    font-size: 15px;
    cursor: pointer;
    
}
.text__collection p{
    font-size: 20px;
}
.text_ p{
    width: 300px;
   
    margin-left: 30px;
}
.text_logo{
    display: flex;   
    margin-left: 30px;
    font-size: 25px;   
    color: goldenrod;
    gap: 10px;
    margin-top: 50px;
    cursor: pointer;
}
.text_logo h2{
    font-family: cursive;
    margin-top: -10px;
}
.text_logo b,
span{
    font-size: 15px;
    margin-top: 10px;
    color: gray;

}